.button
{
    padding: 10px 10px;
    border-bottom:10px;
    width: 15%;
    color: #39FF14;;
    border-color: black;
    border-style: none;
    background-color: black;
    font-weight: bold;
    /* font-family:cursive; */
    border-bottom-color: rgb(138, 255, 79);
    border-bottom-style:groove;
    
    font-size: large;
    font-family:monospace;
}
.container1
{
    display: flex;
    flex-direction: row;
    gap:2%;
}
.button:hover
{
    cursor: pointer;
}
text
{
    font-size: large;
}